CLIENT_ID=<your client id>
CLIENT_SECRET=<your client secret>
SECRET=<Session secret>
TOKEN_REDIRECT_URI=/api/token
AUTHORIZATION_REDIRECT_URI=/api/authorization
PORT=3000

NEXT_PUBLIC_CLIENT_ID=$CLIENT_ID
NEXT_PUBLIC_TOKEN_REDIRECT=$TOKEN_REDIRECT
NEXT_PUBLIC_AUTHORIZATION_REDIRECT_URI=$AUTHORIZATION_REDIRECT_URI
