@import "styles/includes.scss";

.blurb {
	// width: 12em;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: $gap;

	background-color: $alt-background;
	transition: 0.2s background;

	&,
	.cover {
		border-radius: 0.25em;
	}

	&.podcast {
		border-radius: 0.5em;
	}

	.cover {
		position: relative;

		&::after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
		}
	}

	.title,
	.sub-title {
		@include no-text-overflow();
	}

	&.artist .cover {
		border-radius: 50%;
	}

	&:hover {
		background-color: $contrast-background;

		.title,
		.sub-title {
			text-decoration: none;
		}
	}
}
