@import "styles/includes.scss";

.blurb {
	// width: 12em;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: $gap;

	background-color: $alt-background;

	&,
	.cover {
		border-radius: 0.25em;
	}

	&.podcast {
		border-radius: 0.5em;
	}

	transition: box-shadow 0.2s;

	.cover {
		position: relative;

		&::after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;

			transition: box-shadow 0.2s;
		}
		&:hover::after {
			box-shadow: 0px 0px 16px 2px $background inset;
		}
	}

	.title,
	.sub-title {
		@include no-text-overflow();
	}
}
