@import "../../styles/variables.scss";

.blurb {
	width: 12em;
	padding: 0 1em;

	background-color: var(--alt-background-color);

	&,
	.cover {
		border-radius: 0.25em;
	}

	&.podcast {
		border-radius: 0.5em;
	}

	.cover {
		width: 10em;
		height: 10em;
		object-fit: cover;
		display: block;
	}

	.cover,
	.title,
	.sub-title {
		margin: 1em 0;
	}

	.title,
	.sub-title {
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
