@import "styles/includes";

.header {
	grid-area: header;

	display: grid;
	grid-template-areas: "cover text";
	grid-template-columns: 16rem 1fr;
	gap: $gap;

	margin-block-end: $gap;
}

.cover {
	grid-area: cover;
	> img {
		height: 16rem;
		width: 16rem;
	}
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.type {
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.title {
		font-size: 5em;
		font-weight: bolder;
		color: $inverted-background;
	}

	& > *  {
		margin: 0;
	}
}
