@import "styles/includes";

.header {
	height: 16rem;

	display: grid;
	grid-template-areas: "cover text";
	grid-template-columns: 16rem 1fr;
	gap: $gap;

	margin-block-end: calc(2 * #{$gap});

	.cover {
		grid-area: cover;
		> img {
			height: 16rem;
			width: 16rem;
		}
	}
	.text {
		grid-area: text;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		& > * {
			margin: 0;
		}
	}
}
