@import "styles/includes.scss";

.listing {
	width: 100%;

	margin-block-end: calc(2 * #{$gap});
}

.items {
	// display: flex;
	// width: 100%;
	// overflow: auto;
	// gap: $gap;
	// scroll-snap-type: x mandatory;
	//
	// & > * {
	// 	scroll-snap-align: start;
	// }

	.children {
		gap: $gap;
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;
		justify-content: flex-start;
		@include tablet-and-up {
			display: grid;
			grid-auto-rows: auto;
			grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
		}
	}

	.listing.scroll > & {
		overflow-x: hidden;
		margin-inline: calc(-2 * #{$gap});

		.children {
			display: flex;
			flex-wrap: nowrap;
			overflow: auto;
			padding: 0 calc(2 * #{$gap}) $gap;

			scroll-snap-type: x mandatory;
			scroll-padding: 0 calc(2 * #{$gap});

			& > * {
				scroll-snap-align: start;
			}
		}
	}
}

.title {
	text-transform: capitalize;
}
