@import "../../styles/variables.scss";

.listing {
	width: 100%;
}

.items {
	display: flex;
	width: 100%;
	gap: var(--gap);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	@include desktop {
		display: grid;
		grid-template-columns: repeat(auto-fill, 12em);
		grid-auto-rows: auto;
	}
	& > * {
		scroll-snap-align: start;
	}
}

.title {
	text-transform: capitalize;
}
