@import "./includes.scss";

.container {
	display: grid;
	grid-template-areas: "header" "rest";
	grid-template-rows: auto 1fr;
}

.header {
	grid-area: header;
}

.additional-information, .copyrights {
	margin-top: $gap;
}