.container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	align-items: center;
  flex-direction: row-reverse;

	padding: var(--gap);

	background-color: var(--spotify-green);
	border-radius: calc(var(--gap) / 2);
	color: var(--background-color);

	transition: box-shadow 0.2s;
	box-shadow: 0px 1px 2px 0px #000000;

	&:hover {
		box-shadow: 0px 2px 8px 0px #000000;
	}
}

.icon {
	height: 4rem;
	margin-inline-start: 1rem;
}

.title {
	color: var(--background-color);
	margin: 0;
}
