@import "styles/includes";

.layout {
	--header: 12rem;
	--footer: 8rem;

	width: 100%;
	overflow-x: visible;
	display: grid;
	grid-template-areas: "header children" "header footer";
	grid-template-columns: var(--header) 1fr;
	grid-template-rows: 1fr var(--footer);

	min-height: 100vh;

	.header {
		grid-area: header;
		width: var(--header);
	}

	.children {
		grid-area: children;
		padding: calc(2 * #{$gap});
		overflow: auto;
		height: 100%;

		position: relative;
	}

	.footer {
		grid-area: footer;
		height: var(--footer);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
