@import "styles/includes";

.list {
	list-style: none;

	@include no-text-overflow();

	transition: margin-left 0.2s;
}

.item {
	display: inline;
	&:not(:last-child) {
		&::after {
			display: inline-block;
			content: ", ";
			white-space: pre;
		}
	}
}
