@import "styles/includes";

.list {
	list-style: none;

	@include no-text-overflow();
}

.item {
	display: inline;
	&:not(:last-child) {
		margin-inline-end: 0.5rem;
		&::after {
			display: inline-block;
			content: ", ";
		}
	}
}
