@import "styles/includes";

.header {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $alt-background;

	> *:not(:last-child) {
		border-bottom: 1px solid $background;
	}
}

.logo {
	padding: 1rem;

	img {
		width: 100%;
	}
}

.links {
	display: flex;
	flex-direction: column;
	> * {
		padding: $gap;

		&:hover {
			background-color: $background;
		}
	}
}
